{% extends 'base.html' %}
{% block content %}
<div class = "single_author_data">	
{% for data in author_data %}
	<!------Header-------->
    <div class = "author_section">
        <div class = "author_avatar">
            <img src ="/{{data.avatar}}"/>
            <h3>{{ data.nickname }}</h3>
            <p>{{ data.speciality }}</p>
        </div>
        <div class = "author_head_line">
            <p>{{ data.headline }}</p>
			<div class = "single_author_data_buttons">
				<button class = "send_mesage">Send_mesage</button>
				<button class = "invite">Invite</button>
				<button class = "follow">+Follow</button>
			</div>
        </div>
    </div>
	<!------Bio-------->
	<div class = "bio">
		<h2>About</h2>
		<p>{{ data.bio }}</p>
	</div>
	<!------Bio-------->
	<div class = "blog_posts">
		<h2>Blog posts</h2>
		<div class = "blog_posts_list">
			{% for post in author_posts%}
			<div class = "blog_post">
				<div class = "blog_post_cover"><img src = "/{{ post.cover }}"/></div>
				<div class ="post_info">
					<a href = "/blog/{{ post.tech_title }}"><h3>{{ post.title }}</h3></a>
					<p>{{ post.preview }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	
{% endfor %}

</div>
{% endblock %}