{% extends "base.html" %}
{% block content %}
<section class = "content_layout">
    {% for author in authors %}
        <div class = "author_card">
            <div class = "author_card_avatar"><img src = "/{{ author.avatar }}"/ alt = "{{ author.nickname }}"></div>
            <div class = "author_card_info">
                <div class = "head">
                    <a href = "/author/{{ author.nickname }}"><h3>{{ author.nickname }}</h3></a>
                    <p class = "author_skill">
                        <img class = "author_skill_icon" src = "/{{author.skill.skill_icon}}"> 
                        {{author.skill}}
                    </p>
                </div>
                <p>{{ author.headline }}</p>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock content %}