{% extends "base.html" %}
{% block content %}
<center><h2>Pyoops' authors</h2></center>

<div class = "authors_layout">


    {% for author in authors %}
    <div class = "author_card">
        <div class = "author_avatar"><img class = "grid_image" src = "/{{ author.avatar }}"></div>
        <div class = "author_info">
            <p class = "author_card_header"><b>{{ author.nickname }}</b></p>
            <p class = "author_card_body">{{ author.headline }}</p></div>
    </div>
    {% endfor %}
    
    
</div>


{% endblock content %}