header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.nav_list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap:20px;
}