{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-----------Css styles-------------->
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="stylesheet" href="{% static 'authors.css' %}">
        <!-----------Google fonts-------------->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>{% include 'header.html' %}</header>
        <div class = "base_wrap">
            <div class = "left_panel"></div>
            <div class = "central_area">{% block content %}{% endblock %}</div>
            <div class = "right_panel"></div>
        </div>
        <footer>{% include 'footer.html' %}<footer>  
    </body>
</html>