<!--------Logo---------->
<nav class = "navigation">
  <div class = "container">
    <div class = "logo">Pyoops.com</div>
<!--------Navigation---------->    
      <ul class = "navigation_List">
        <li><a href = "/home">Home</a></li>
        <li><a href = "/blog">Blog</a></li>
        <li>Forum</li>
        <li>Manuals</li>
        <li>Projects</li>
        <li>Comunities</li>
        <li><a href = "/authors">Authors</a></li>
        <li>About</li>
      </ul>      
<!--------Login---------->       
      <div class = "login_section">
        <button class = "login_button">Login <i class="fa-solid fa-right-to-bracket"></i></button>
        <input type="button" onclick = "location.href='{% url 'blog_post_add' %}';" value="Add post" />
        
      </div>
  </div>
</nav>